<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <input type="text" (input)="searchByName(searchInput.value)" placeholder="Search user by name" #searchInput>

  <ul>
    <li *ngFor="let user of users">
      <div class="profile-pic">
        <img [src]="user.picture.large">
      </div>
      <div class="user-detail">
        <div>{{user.name.last}} {{user.name.first}}</div>
        <div>{{user.email}}</div>
        <div>{{user.registered.date | date}}</div>
      </div>
    </li>
  </ul>

  <button (click)="loadMore()">Load more!</button>
</div>

<router-outlet></router-outlet>